
<!-- /////// portfolio page start /////// -->
<section id="portfolio" data-role="page">
    <div data-role="header" data-theme="d">
      <a data-iconpos="notext" href="#mypanel" data-role="button" data-icon="flat-menu"></a>
      <h1>Portfolio</h1>
  </div>

  <div data-role="content" id="content" class="tradedetails">
    <div class="ui-grid-solo darklight">
            <div class="ui-block-a rounded tcenter">
            <img src="../img/pearls_female_icon.png">            
        </div>
    </div>   
    <div class="arrow-down-darklight" style="margin:auto;bottom:20px"></div>
<div class="ui-grid-solo">
            <div class="ui-block-a rounded tcenter">
    <div class="tred">
        Recent Activity
    </div>

    <br>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</span> <hr>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</span>
    <br>
    </div>
</div>
    <p></p>
    <div class="ui-grid-solo dark">
        <div class="arrow-down-white" style="margin:auto;bottom:20px"></div>
        <div class="ui-block-a tcenter">
               <p>ACCOUNT SUMMMARY</p>
            <p></p>
        </div>
    </div><div class="ui-grid-a dark"><div class="ui-block-a tcenter">
            <img src="../img/portfolio_big.png" width="80px"> 
            <div>CASH BALANCE <br> $175,000</div>           
        </div>
        <div class="ui-block-b tcenter">
            <img src="../img/portfolio_big.png" width="80px">
             <div>TOTAL EQUITY <br> $325,000</div>             
        </div>
        <p></p>
<div class="ui-block-a tcenter">
            <img src="../img/rank_g.png" width="80px"> 
            <div>STATE RANK <br> #54 of 250</div>             
        </div>
        <div class="ui-block-b tcenter">
            <img src="../img/rank_o.png" width="80px">
            <div>COUNTRY RANK <br> #450 of 2,000</div>         
        </div>  
         <br>
         <p></p>
<div class="tright"><a href="#" class="twhite"> View More Stats</a></div>      
    </div>  
<div class="arrow-down-dark" style="margin:auto;bottom:20px"></div>
    <div class="tred tcenter">
       <p>MY STOCKS</p> 
       <p></p>
    </div>
    <ul data-role="listview" data-theme="c">
        <li class="whiteborder" data-bind="click:loadDetails">
    <a href="#">
   <fieldset class="ui-grid-c">
    <div class="ui-block-a" style="width:15%;margin-left:0px;"> <img src="../img/ng.png" /></div>
    <div class="ui-block-b" style="width:30%">NASDAQ</div>
    <div class="ui-block-c tcenter" style="width:30%">3,815.01</div>
    <div class="ui-block-d" style="width:25%;margin-right:-10px;">-1.23</div>
</fieldset>  
</a> 
</li>
<li class="whiteborder" data-bind="click:loadDetails">
    <a href="#">
   <fieldset class="ui-grid-c">
    <div class="ui-block-a" style="width:15%;margin-left:0px;"> <img src="../img/ng.png" /></div>
    <div class="ui-block-b" style="width:30%">NASDAQ</div>
    <div class="ui-block-c tcenter" style="width:30%">3,815.01</div>
    <div class="ui-block-d" style="width:25%;margin-right:-10px;">-1.23</div>
</fieldset>  
</a> 
</li>
<li class="whiteborder" data-bind="click:loadDetails">
    <a href="#">
   <fieldset class="ui-grid-c">
    <div class="ui-block-a" style="width:15%;margin-left:0px;"> <img src="../img/ng.png" /></div>
    <div class="ui-block-b" style="width:30%">NASDAQ</div>
    <div class="ui-block-c tcenter" style="width:30%">3,815.01</div>
    <div class="ui-block-d" style="width:25%;margin-right:-10px;">-1.23</div>
</fieldset>  
</a> 
</li>
<li class="whiteborder" data-bind="click:loadDetails">
    <a href="#">
   <fieldset class="ui-grid-c">
    <div class="ui-block-a" style="width:15%;margin-left:0px;"> <img src="../img/ng.png" /></div>
    <div class="ui-block-b" style="width:30%">NASDAQ</div>
    <div class="ui-block-c tcenter" style="width:30%">3,815.01</div>
    <div class="ui-block-d" style="width:25%;margin-right:-10px;">-1.23</div>
</fieldset>  
</a> 
</li>
    </ul>
<br>    <div class="tright"><a href="#" class="tred">View More Stocks</a></div>
<p></p>
<div class="ui-grid-solo darklight">
    <div class="arrow-down-white" style="margin:auto;bottom:20px"></div>
            <div class="ui-block-a tcenter tred">
            <p>MY BADGES  </p>         
        </div>
<div class="ui-grid-b">
    <div class="ui-block-a tcenter">
            <img src="../img/rank_o.png" width="50px">
            <div>Loren ipsum</div>           
        </div>
        <div class="ui-block-b tcenter">
           <img src="../img/rank_o.png" width="50px">
            <div>Loren ipsum</div>         
        </div>
        <div class="ui-block-c tcenter">
            <img src="../img/rank_o.png" width="50px">
            <div>Loren ipsum</div>        
        </div>
</div>
<br>
<div class="tright"><a href="#" class="tred"> View More Badges</a></div>
    </div>   
</div>

</section>
<!-- /////// portfolio page end /////// -->