
<!-- /////// trade details page start /////// -->
<section id="tradedetails" data-role="page">
    <div data-role="header" data-theme="d" data-add-back-btn="true">
        <h1>Trade</h1>
    </div>
    <div data-role="content" role="main" class="tradedetails">
        <div class="darklight" style="width:100%">
            <fieldset class="ui-grid-a ">
                <div class="ui-block-a dark bgnigeria" style="margin-left:0px;width:40%;">
                    <div style="background:rgba(0, 0, 0, 0.5)">
                        <span>APPL</span> <br><span>Apple Inc.</span> <br>
                        <span>4651.33</span>
                    </div>

                </div>

                <div class="ui-block-b tright" style="margin-left:-5px;width:60%">
                    <div class="bggreen tcenter twhite">+19.08<br/>0.41</div>
                    <span>You own 3 shares of APPL</span>
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a">
                            <a href="#" data-role="button" class="dark"> BUY</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="#" data-role="button" class="dark"> SELL</a>
                        </div>
                    </fieldset>

                </div>
            </fieldset> 
        </div>
        <div data-role="navbar">
            <ul>
              <li ><a href="#" class="mylink">1 day</a></li>
              <li><a href="#" class="mylink">5 days</a></li>
              <li><a href="#" class="mylink">1 month</a></li>
              <li><a href="#" class="mylink">3 months</a></li>
              <li><a href="#" class="mylink">1 year</a></li>
          </ul>
      </div>
      <div id="chart1" style="height:200px; width:100%;"></div>
      <hr>
      <div class="tred tcenter">Market Data</div>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <span>Open:</span><br>
            <span>Previous Close:</span><br>
            <span>High:</span><br>
            <span>Low:</span><br>
            <span>Volume:</span><br>
            <span>Average Volume:</span><br>
            <span>P/E:</span><br>
            <span>Beta:</span><br>
            <span>EPS:</span><br>
            <span>Market Cap:</span><br>
            <span>Div/Yield:</span>
        </div>
        <div class="ui-block-b tright tbold">
            <span>4651.33</span><br>
            <span>4651.33</span><br>
            <span>5651.33</span><br>
            <span>3651.33</span><br>
            <span>2.12 billion</span><br>
            <span>2.04 billion</span><br>
            <span>16.92</span><br>
            <span>0.90</span><br>
            <span>6.43</span><br>
            <span>638.62 billion</span><br>
            <span>12.20(2.29)</span>
        </div>

    </fieldset>
</div>
</section>
<!-- /////// trade details page end /////// -->