
<!-- /////// trade details page start /////// -->
<section id="tradedetails" data-role="page">
    <div data-role="header" data-theme="d" data-add-back-btn="true">
        <h1>Trade</h1>
    </div>
    <div data-role="content" role="main" class="tradedetails">
        <div class="darklight" style="width:100%">
            <fieldset class="ui-grid-a ">
                <div class="ui-block-a dark" style="margin-top:10px;margin-left:10px;width:40%;height:100px">
                    <div class="imageDiv"><img width="100%" height="120%" src="../img/usaflag.png" style="margin-top:-10px"></div>
                    <div class="textDiv twhite" style="font-size:18px">
                        <span>APPL</span> <br><span>Apple Inc.</span> <br>
                        <span>4651.33</span></div>                    
                    </div>


                    <div class="ui-block-b tright" style="margin-left:5px;width:55%">
                        <div class="bggreen tcenter twhite" style="width:100px;margin-left:45%">+19.08<br>0.41%</div>
                        <div style="text-align:left;font-size:13px">You own 3 shares of <b>APPL</b></div>
                        <fieldset class="ui-grid-a">
                            <div class="ui-block-a">
                                <a href="#" data-role="button" class="dark srounded" data-bind="click: show('BUY')"> BUY</a>
                            </div>
                            <div class="ui-block-b">
                                <a href="#" data-role="button" class="dark srounded" data-bind="click: show('SELL')"> SELL</a>
                            </div>
                        </fieldset>

                    </div>
                </fieldset> 
            </div>
            <div class="bgwhite" style="height:200px" data-bind="visible: showing">
                <fieldset class="ui-grid-a" style="height:100%">
                    <div class="ui-block-a" style="width:35%;border-right: 2px solid rgb(50,50,50);">
                         <div class="rounded tcenter" style="border: 1px solid rgb(50,50,50);width:80%;margin-top:-15px; margin-left:auto;margin-right:auto;">
                            <img src="../img/pearls_female_icon.png" height="80px">
                        </div>
                        <div class="tred tcenter" style="font-size:13px;">NNEKA'S</div> 
                        <div class="tcenter" style="font-size:13px">CASH BALANCE <br> $175,000</div> 
                    </div>
                    <div class="ui-block-b tbold" style="width:65%">
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <label>Number of shares</label>
                            </div>
                            <div class="ui-block-b">
                            <label>Unit Price</label>
                        </div>                          
                    </div><!-- /grid-a -->
                    <div class="ui-grid-a">                        
                        <div class="ui-block-a">
                               <input type="text" value="" class="smallinput srounded">
                           </div>
                        <div class="ui-block-b">
                           <input type="text" value="" class="smallinput srounded">
                       </div>
                </div><!-- /grid-a -->
                <div class="ui-grid-solo">
                    <div class="ui-block-a">
                        <label>For a total of $15,000</label>
                    </div>
               </div><!-- /grid-a -->
               <div class="ui-grid-a">
                    <div class="ui-block-a">
                       
                    </div>
                    <div class="ui-block-b">
                        <a href="#" data-role="button" class="ui-btn ui-btn-b ui-corner-all srounded" data-bind="click: show(),text:buttonText" style="width:60px;height"> Buy</a>
                   </div>

               </div><!-- /grid-a -->
              
           </div>
       </fieldset>
   </div>
           <div data-role="navbar">
            <ul>
              <li ><a href="#" class="mylink">1 day</a></li>
              <li><a href="#" class="mylink">5 days</a></li>
              <li><a href="#" class="mylink">1 month</a></li>
              <li><a href="#" class="mylink">3 months</a></li>
              <li><a href="#" class="mylink">1 year</a></li>
          </ul>
      </div>
      <div id="chart1" style="height:200px; width:100%;"></div>
      <hr>
      <div class="tred tcenter">Market Data</div>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <span>Open:</span><br>
            <span>Previous Close:</span><br>
            <span>High:</span><br>
            <span>Low:</span><br>
            <span>Volume:</span><br>
            <span>Average Volume:</span><br>
            <span>P/E:</span><br>
            <span>Beta:</span><br>
            <span>EPS:</span><br>
            <span>Market Cap:</span><br>
            <span>Div/Yield:</span>
        </div>
        <div class="ui-block-b tright tbold">
            <span>4651.33</span><br>
            <span>4651.33</span><br>
            <span>5651.33</span><br>
            <span>3651.33</span><br>
            <span>2.12 billion</span><br>
            <span>2.04 billion</span><br>
            <span>16.92</span><br>
            <span>0.90</span><br>
            <span>6.43</span><br>
            <span>638.62 billion</span><br>
            <span>12.20(2.29)</span>
        </div>

    </fieldset>
</div>
</section>
<!-- /////// trade details page end /////// -->