<!-- /////// trivia page start /////// -->
<section id="triviacomplete" data-role="page" >

    <div data-role="content" id="content" class="verydark" style="height:1280px">
       <div class="tcenter">
           <span style="color:yellow">Congratulations</span>
           <br>
           <div id="chart3" class="chart"></div>

           <p>   </p>      

           <span>That brings your total quiz score to 254.</span>
           <p style="color:yellow">
            Trade Definitions Quiz
        </p>
    </div>
    <div class="bgwhite">
        <fieldset class="ui-grid-b" data-theme="c">
            <div class="ui-block-a" style="width:15%;margin-left:0px;"> <img src="../img/pearls_female_icon.png" height="50px"/></div>
            <div class="ui-block-b tright tcenter" style="width:40%"><div class="tcenter">State Rank<br/>
                <div class="dark rounded tcenter" style="width:80%; height:30px;margin:auto;border-radius: 0.5em !important;">455 of 500</div></div>
            </div>
            <div class="ui-block-c tright tcenter" style="width:40%;"><div class="tcenter">Country Rank<br/><div class="dark rounded tcenter" style="width:80%; height:30px;margin:auto;border-radius: 0.5em !important;">455 of 500</div></div>
        </div>
    </fieldset> 
</div>
<p></p>            

<a href="trivia.html" class="rounded ui-btn ui-btn-c mc-top-margin-1-5" style="width:150px;margin:auto">Back To Quiz Page</a>
</div>

</section>
<!-- /////// trivia page end /////// -->